<?xml version="1.0"?>
<model>
  <name>robo_camuflado</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Ruben</name>
    <email></email>
  </author>

  <description>
    Modelo do robô camuflado, com geometria definida em robo_camuflado.dae.
  </description>
</model>

